/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Map styles */
#map {
    height: 100vh;
    width: 100vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.overlay {
    position: absolute;
    z-index: 1000;
}
.title-overlay {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btnmenu{
    top: 1px;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Arrow icon styles */
.arrow-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("image/32x32.png");
    background-size: cover;
    transform-origin: 50% 50%;
}

/* Hidden marker styles */
.hidden-marker {
    opacity: 0;
}

/* Locate button styles */
.locate-btn {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.locate-btn:hover {
    background-color: #007bff;
    border-color: #0056b3;
    transform: scale(1.1);
}

.locate-btn.active {
    background-color: #0056b3;
    color: white;
}

.locate-btn i {
    font-size: 24px;
}

/* Center pin styles */
#center-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.pin-icon {
    width: 60px;
    height: 60px;
    background-image:url("image/pin.svg");
    background-size: cover;
}

/* User photo styles */
#user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Comments list styles */
#comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comments-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#comments-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

#comments-list span {
    font-weight: bold;
    margin-right: 10px;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-10 {
    padding: 10px;
}
